<meta name="viewport" content="width=device-width, initial-scale=1">

<nav>
    <div class="logo">
        <img src="{{imageBaseUrl}}/assets/image/logoInBlack.png" height="60px" width="100%">
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
  <i class="fas fa-bars"></i>
  </label>
    <ul>
        <li><a href="#" routerLink="/" routerLinkActive="">Home</a></li>
        <li><a href="#" routerLink="browser" routerLinkActive="active-link">Browse Campaigns</a></li>
        <li><a href="#" routerLink="CelebrateYourBirthday" routerLinkActive="active-link">Celebrate your Birthday</a></li>
        <li><a href="#" routerLink="MonthlyHelp" routerLinkActive="active-link">Monthly Help</a></li>
        <li><a href="#" routerLink="/startCampaign" routerLinkActive="active-link">Start Campaign</a></li>
        <li><a href="#" routerLink="Donate" routerLinkActive="active-link">Donate</a></li>
        <li><a href="#" routerLink="login" routerLinkActive="active-link">Login</a></li>
        <li class="lorem">
            <hr> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, <br> ducimus cupiditate. Voluptatibus asperiores consequuntur aspernatur placeat<br> explicabo, quas cupiditate saepe neque deserunt magni rem debitis<br> nam? Molestiae molestias
            eveniet magni.<br>
            <br> +9125653221532
            <br>
            <div class="col-lg-3 icons">
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
                <br>
                <br>
                <br>
            </div>
        </li>
    </ul>

</nav>





