<div class="container">
    <div class="cancelButton">
        <button mat-dialog-close="true"><mat-icon>close</mat-icon></button>
    </div>
    <h4><b>Update Phone Number</b></h4><br>
    <form [formGroup]="editPhoneNumber">
        <mat-form-field id="campaignerNumber">
            <input matInput type="tel" minlength="10" maxlength="10" (keypress)="OnlyNumbersAllowed($event)"
                placeholder="Campaigner Number" formControlName="campaignerNumber" id="myNumber" required>
            <mat-error *ngIf="editPhoneNumber.controls['campaignerNumber'].hasError('required')">
                Number is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="editPhoneNumber.controls['campaignerNumber'].hasError('pattern')">
                Number should starts from <strong>6-9</strong>
            </mat-error>
            <mat-error *ngIf="editPhoneNumber.controls['campaignerNumber'].hasError('minlength')">
                Number should be of <strong>10 digits</strong>
            </mat-error>
        </mat-form-field><br>
        <button mat-raised-button color="accent" (click)="sendOTP()">Get Otp</button>

        <div *ngIf="showOtpField">
            <mat-form-field>
                <input matInput formControlName="otp" minlength="4" maxlength="4"
                    (keypress)="OnlyNumbersAllowed($event)" placeholder="Enter OTP" id="myOtp" required>
                <mat-error *ngIf="editPhoneNumber.controls['otp'].hasError('required')">OTP is required</mat-error>
                <mat-error *ngIf="editPhoneNumber.controls['otp'].hasError('pattern')">Enter Valid OTP</mat-error>
            </mat-form-field>
            <br>
            <input type="hidden" formControlName="campaignerId">
            <button mat-raised-button color="accent" (click)="onSubmit()" mat-dialog-close>Verify</button>
        </div>
    </form>
</div>