<mat-icon mat-dialog-close>cancel</mat-icon>
<form [formGroup]="otpForm">
    <mat-form-field>
        <input matInput type="tel" formControlName="otp" minlength="4" maxlength="4" (keypress)="OnlyNumbersAllowed($event)" placeholder="Enter OTP" id="myOtp" required>
        <mat-error *ngIf="myError('otp', 'required')">OTP is required</mat-error>
        <mat-error *ngIf="myError('otp', 'pattern')">Enter Valid OTP</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="verify($event, otpForm)" cdkFocusInitial [mat-dialog-close]="true" [disabled]="!otpForm.valid"> Verify</button>
</form>