<div class="newaccountform">
    <h1 mat-dialog-title style="text-align: center;">Edit Account Details</h1>
    <div mat-dialog-content style="text-align: center;">
        <form class="form" #UpdateAccountDetail="ngForm" (ngSubmit)="onUpdateAccountDetail()">
            <mat-form-field class="example-full-width">
                <mat-label>Campaigner Name</mat-label>
                <input matInput [(ngModel)]="updateAccountDetails.patient_name" name="patient_name" id="patient_name" class="form-Control">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <mat-label>Cause Category</mat-label>
                <input matInput [(ngModel)]="updateAccountDetails.cause_category" name="cause_category" id="cause_category" class="form-Control">
            </mat-form-field><br>   
            <mat-form-field class="example-full-width">
                <mat-label>Benifciary Name</mat-label>
                <input matInput [(ngModel)]="updateAccountDetails.beneficiary_name" name="beneficiary_name" id="beneficiary_name" class="form-Control">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Bank Name</mat-label>
                <input matInput [(ngModel)]="updateAccountDetails.bank_name" name="bank_name" id="bank_name" class="form-Control">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <mat-label>Account Number</mat-label>
                <input matInput [(ngModel)]="updateAccountDetails.account_no" name="account_no" id="account_no" class="form-Control">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <mat-label>IFSC Code</mat-label>
                <input matInput [(ngModel)]="updateAccountDetails.ifsc_code" name="ifsc_code" id="ifsc_code" class="form-Control">
            </mat-form-field><br>
            <div mat-dialog-actions>
                <button mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="true" style="left: 35%;"
                    type="submit">Submit</button>
            </div>
        </form>
        
    </div>
</div>
