<div class="container">
    <br>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top"
                    alt="Sunset Over the Sea" />
                <div class="card-body">
                    <p class="card-text">Some quick example text to build .</p>
                    <a href="#" class="card-link">Publish on </a>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top"
                    alt="Sunset Over the Sea" />
                <div class="card-body">
                    <p class="card-text">Some quick example text to build .</p>
                    <a href="#" class="card-link">Publish on </a>
                    <a href="#" class="card-link">Read_more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top"
                    alt="Sunset Over the Sea" />
                <div class="card-body">
                    <p class="card-text">Some quick example text to build .</p>
                    <a href="#" class="card-link">Publish on </a>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top"
                    alt="Sunset Over the Sea" />
                <div class="card-body">
                    <p class="card-text">Some quick example text to build .</p>
                    <a href="#" class="card-link">Publish on </a>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
        </div>






    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top"
                alt="Sunset Over the Sea" />
            <div class="card-body">
                <p class="card-text">Some quick example text to build .</p>
                <a href="#" class="card-link">Publish on </a>
                <a href="#" class="card-link">Read more</a>
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top"
                alt="Sunset Over the Sea" />
            <div class="card-body">
                <p class="card-text">Some quick example text to build .</p>
                <a href="#" class="card-link">Publish on </a>
                <a href="#" class="card-link">Read more</a>
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top"
                alt="Sunset Over the Sea" />
            <div class="card-body">
                <p class="card-text">Some quick example text to build .</p>
                <a href="#" class="card-link">Publish on </a>
                <a href="#" class="card-link">Read more</a>
            </div>
            </div>
        </div> <div class="card">
            <div class="card-header">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top"
                alt="Sunset Over the Sea" />
            <div class="card-body">
                <p class="card-text">Some quick example text to build .</p>
                <a href="#" class="card-link">Publish on </a>
                <a href="#" class="card-link">Read more</a>
            </div>
            </div>
        </div>
</div>